.img-preview{
    height: 300px;
    width: 300px;
} 
.announcements{

        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    
      .containerAnnouncements{
        position: relative;
        max-width: 430px;
        width: 100%;
        background: #15273f;
        color: #e6e6e6;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    } 

    .custom-control{
        border-radius: 5px;
        background-color:var(--white);
    }

    .custom-btn{
        border-radius: 5px;
        background-color:var(--white) ;
        border: none;
    }

    .custom-btn:hover{
   
        transform: scale(1.1);
        color: var(--orange);
        background-color: var(--white);
    
    }

    .custom-canva-bg{

        background-color: #0b1521;
    }

    .custom-border-canva{

        border: 4px solid var(--orange);
        
    }

    .custom-btn-canva{
        background-color:var(--white) !important;
        color: var(--orange) !important;
        border-radius: 5px;
        border:none

        
    }

    .custom-btn-canva:hover{
   
        transform: scale(1.1);
        color: var(--orange);
    
    }

    .custom-delete-canva{
        background-color:var(--white) !important;
        color: var(--orange) !important;
        border-radius: 5px;
        border:none;

    }

    :hover.custom-delete-canva{
        transform: scale(1.1);
        color: var(--orange);
    }

       .custom-btn-preview{

        background-color:var(--white) !important;
        color: var(--secondary4) !important;
        border-radius: 5px;
        border:none;
        text-align: center;
        width:94%;
        padding: 6px;
        text-decoration: none;
        

    }

    :hover.custom-btn-preview{

        transform: scale(1.1);
        color: var(--orange) !important;
    }
    /* .custom-btn:hover{
        background-color: #15273f !important;

    } */
    /* .containerAnnouncements .formRegister{
        padding: 30px;
    }  */

    
.container{

    padding-bottom: 5.5rem;
}
   
    