.ulfooter{
    list-style: none;

}

.bgFooter{
    background-color: var(--secondary4) ;
}

.textFooter{
    color:var(--white);
}

.titleFoter{
    color: var(--white);
}

.btnBeRevisor{
    background-color:var(--white);
}

.btnBeRevisor:hover{
    color: var(--orange);
}

.iconFooter{
    color: var(--white);
}

.colorLink{
    color: var(--light4) !important;
    text-decoration: none;
}

.imgSetFooter{
    height: 50px;
    width: 100px;
}

/* POSITION X ICON ABOUT */
.setPositionPH{
    position: relative;
    left: -20px;
}

.setPositinUl{
    position: relative;
    left: -20px;
}

.setPositinOT{
    position: relative;
    right: 20px;
}

.setPositionMail{
    position: relative;
    right: 5px;
}

.setPositionTeam{
    position: relative;
    right: 5px;
}

/* POSITION ICON FOLLOW US */

.setPositionFb{
    position: relative;
    left: 5px;
}

/* BEFORE SQUARE TITTLE FOOTER  */

.dotTitle::before{
    content: '';
    display: inline-block;
    width: 15px;
    height: 0.6px;
    border: 3px solid var(--orange);
    margin-right: 5px;
    position: relative;
    bottom: 5px;
    
 }

 .dotTitle::after{
    content: '';
    display: inline-block;
    width: 15px;
    height: 0.6px;
    border: 3px solid var(--orange);
    margin-right: 5px;
    position: relative;
    bottom: 5px;
    left:4px;
    
 }

 
 /* MEDIA QUERY FOOTER */

 @media screen and ( min-width: 390px){
    .mediaText{
        text-align: center;
    }
    
 }