
.bodylogin{
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content:center;
    /* background-color: var(--main4); */
}

.containerLogin{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: var(--light4);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.containerLogin .formlogin{
    padding: 30px;
}

.containerLogin .formlogin .titlelogin{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.formlogin .titlelogin::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: var(--secondary4);
    border-radius: 25px;
}

.formlogin .input-field-login{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
    
}

.input-field-login input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 50px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2 ease;
    border-radius: 5px;
}

.input-field-login input:is(:focus, :valid){
    border-bottom-color: var(--secondary4);
}

.input-field-login i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field-login input:is(:focus, :valid) ~ i {
    color: var(--secondary4);
}

.input-field-login i.icon-login{
    left: 0;
}

.input-field-login i.eyesLogin{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.formlogin .checkbox-text-login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.checkbox-text-login .checkbox-content-login{
    display: flex;
    align-items: center;
}

.checkbox-content-login input{
    margin: 0 8px -2px 4px;
    accent-color: var(--secondary4);
}

.formlogin .text{
    color: #333;
    font-size: 14px;
}

.formlogin a.text{
    color: var(--secondary4);
    text-decoration: none;
}

.formlogin a:hover{
    text-decoration: underline;
}

.formlogin .button{
    margin-top: 35px;
}

.formlogin .button input{
    border: none;
    color: var(--secondary4);
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background-color: var(--white);
    cursor: pointer;
    transition: all 0.3s ease;
}

/* .formlogin .button input:hover{

    background-color: var(--secondary4);
    color: var(--white);
    
} */

.formlogin{
    background-color: var(--secondary4);
    color: var(--white);
    border-radius: 10px;
}

.formlogin .login-singup{
    margin-top: 30px;
    text-align: center;
}