
 
/* Navbar */


/* revisor section */

.countSet{
  color: var(--white);
  display: flex;
  margin-bottom: -37px;
  
  
}



.mainBg{
  background-color: var(--main4) !important;
}
.secondaryBg{
  background-color: var(--secondary4) !important;
}
.textColor{
  color: var(--text);
}
.secondaryColor{
  color: var(--secondary4);
}
.mainColor{
  color: var(--main4);
}

/* link navbar */

.navHover{
  color: var(--light);
  border-radius:8px ;
}
.navHover:hover{
  color: var(--secondary4);
  background-color: var(--orange);
  border-radius: 8px;
}

.custom-m-lang{

  margin-top: 12.5px;
}

.custom-m-logo{
  margin-top: 20.3px;
}

/* media query bottom nav */

@media screen and (max-width:1063px) {
  .bottom-navbar1{
      border-radius: 30px;
     background-color: var(--orange) !important;
  }
  

  .miniNav-container{
    
      padding-right: 22px;  
      padding-bottom: 3px;
      margin-bottom: 0;
  }

  .scritte_nav{
      display: none;
  }
  .revisor-icon{
      list-style-type: none;
      color: var(--white) ;
      
  }
  .icon_nav{
     color: var(--white);
  }
  .a:link {
      color: var(--white) !important;
      
  }
  .a:visited {
      color: var(--secondary4) !important;
  }
  .countSet{
    color: var(--white);
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-left:-20px
   
    
  }
}

@media screen and (min-width:1063px) {

  .icon_nav{
      display: none;
  }
  
}

.custom-not{

  background-color:var(--secondary4);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 20px;
  position: relative;
  left: 15px;
}


/* .custom-logo{

  display: none;
} */

h5{

  font-size: 1.2rem;
}

@media screen and (max-width:1064px){
  
  .custom-not{

    background-color:var(--secondary4);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 20px;
    position: relative;
    bottom: 7px;
    left: 18px;
    font-size: 10px;
  
  }
  
  .custom-logo{

    display: none;
  }
  
 .custom-icon{

 font-size: 20px;
 position: relative;
  right: 15px;
 }

 .custom-m-lang-icon{

  margin-top: 7.5px;
}

}