
.bodyregister{
/* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--main4); */
}

.containerRegister{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: var(--light4);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.containerRegister .formregister{
    padding: 30px;
}

.containerRegister .formregister .titleregister{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.formregister .titleregister::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: var(--secondary4);
    border-radius: 25px;
}

.formregister .input-field-register{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
    
}

.input-field-register input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 45px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2 ease;
    border-radius: 5px;
}

.input-field-register input:is(:focus, :valid){
    border-bottom-color: var(--secondary4);
}

.input-field-register i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field-register input:is(:focus, :valid) ~ i {
    color: var(--secondary4);
}

.input-field-register i.icon-register{
    left: 0;
}

.input-field-register i.eyesRegister{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.formregister .checkbox-text-register{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.checkbox-text-register .checkbox-content-register{
    display: flex;
    align-items: center;
}

.checkbox-content-register input{
    margin: 0 8px -2px 4px;
    accent-color: var(--secondary4);
}

.formregister .text{
    color: #333;
    font-size: 14px;
}

.formregister a.text{
    color: var(--secondary4);
    text-decoration: none;
}

.formregister a:hover{
    text-decoration: underline;
}

.formregister .button{
    margin-top: 35px;
}

.formregister .button input{
    border: none;
    color: var(--light4);
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background-color: var(--white);
    color: var(--secondary4);
    cursor: pointer;
    transition: all 0.3s ease;
}

.formregister{

    background-color: var(--secondary4);
    color: var(--white);
    border-radius: 20px;
}
.button input:hover{
   
    transform: scale(1.1);
    color: var(--orange);

}

