.custom-btn-modal{
    background-color: var(--orange);
    color: var(--white);
}

:hover.custom-btn-modal{
    filter: blur(8px);
  -webkit-filter: blur(8px);
   transition: 4s;
}



.custom-content{
    background: none;
    backdrop-filter: blur(5px);
}

.modal-footer{

    border-top: none;
    display: flex;
    justify-content: center;
   
}
.custom-btn-center{

    margin-bottom: 100px;
}


.custom-img-fluid{

    height: 30vh;
}

.custom-margin-dati{
    margin-top: 100px;
}
.custom-position-btn{

margin-top: 250px;

}

.c-position-title{

margin-bottom: 100px;
background-color: var(--light);
padding: 20px;
border-radius: 10px;
}

.custom-description {
    background-color: var(--white) ;
    width: 200px;
    height: 100px;   
    overflow: scroll;
    border-radius: 5px;
}


.custom-title-style{
    margin-top: 10px;
    background-color: var(--primary);
    color: var(--white);
}

.custom-post-style{

    background-color: var(--primary);
    color: var(--white);
}

.custom-border{

    border-bottom:  5px solid var(--secondary4);
    margin-left: calc(-0.0 * var(--bs-gutter-x));
}


.custom-font-size{

    font-size:large;
    color: var(--white) ;
}

.custom-title-ann{

    background-color: var(--secondary4);
    margin-top: 10px;
    width: 60%;
    text-align: center;
    border-radius: 20px;
    color: var(--white);

}
.formed{
   
    width: 100%;
    clip-path: polygon(10% 0, 90% 0, 95% 100%, 5% 100%);
   
}

.custom-container-carousel{

    
    margin-bottom: 140px;
    border-radius: 20px;
}

.custom-margin-container-p{

    margin-top: 100px;
}

.custom-border-r{

    border-bottom-right-radius: 10px ;
    border-top-right-radius: 10px;
}
.custom-border-l{

    border-bottom-left-radius: 10px ;
    border-top-left-radius: 10px;
}

