:root{
    --main4: #8bc9a6 !important;
     --secondary4: #15273f  !important;
     --light:#e6e6e6;
     --white: #fff;
     --text: black;
     --orange:#f49819;
     
 }

 body{
    background-color: var(--light);
 }

 li{
    list-style: none;
 }

 /* background class */

 .button-darkBg{
    background-color: var(--white);
    color: var(--secondary4);
    padding: 5px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius:4px;
    border: none;
    
 }


.button-darkBg:hover{
   
    transform: scale(1.1);
    color: var(--orange);

}
.secondaryBg2{
    background-color: var(--secondary4);
}

.textBg{
    background-color: var(--text);
}

.orangeBg{
    background-color: var(--orange);
}
.bgLight2{
    background-color: var(--light);
}
.bluettBg{
    background-color: var(--main4) ;
}
.whiteBg{
    background-color: var(--white);
}

/* text color */


.secondary-text{
 color: var(--secondary4);
}

.bluetTxt{
    color: var(--main4) ;
}
.lightText{
    color: var(--light);
}

.textColor{
    color: var(--text);
}
.textWhite{
    color: var(--white);
}
.textOrange{
    color: var(--orange);
}