/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{  
    font-family: 'Nunito', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Dosis', sans-serif;
}

p{
    font-family: 'Nunito', sans-serif;
}

/* intro */

.intro1{

    height: 80vh;
}

.custom-search-btn{
    background-color: var(--orange) !important;
}

/* intro img */


 .setSearch{
    width: 400px;
    justify-content: center;
}
@media screen and (max-width:390px){
    .setSearch{
        width: 300px;
    }
}

/* Carousel Swiper*/

/* carousel title */
.hover-card:hover{
    color: var(--white);
}

.carousel-row{
    height: 70%;
}

.card{
    background-color: var(--white);
}

/* .slide-content{
   
   margin-right: 50px;
   margin-left: 60px;
  
} */
/* card content */

.card-box-blur{
    filter: blur(50px);
  -webkit-filter: blur(1px);
  
}


@media screen and (max-width:390px){
    .swiperBody{
        margin-left: 30px;
    }
}

/* .image-content,
.card-content{
    width: 100%;
    height: 200px;
    padding: 0px;
} */

.slide-container{
   height: 45vh;
    width: 100%;
   
}


.title,.price{
    color: var(--text);
}

/* our team */

.cShadow{
    box-shadow: 10px 20px var(--orange);
}

.iconTeam:hover{
    color: var(--orange);
    
}

.btnicon:hover{
    color: var(--orange);
    
}
.custom-search-btn{

    background-color: var(--white);
}

:hover.custom-search-btn{

    background-color: var(--secondary4);
    color: var(--white);
    border: none;
}

/* cards */

.staff-row{
    height: 80vh;
    width: 100%;
}
.immagini-team{

    height: 310px;
    width: 100%;
}

.custom-staff{

    padding-bottom: 3px;
    padding-top: 10px;
    width: 97%;
    border-radius: 5px;
}

.custom-climate{

    padding-bottom: 3px;
    padding-top: 10px;
    border-radius: 5px !important;
}